.gridpane {
     -fx-border: #BBADA0;
     -fx-grid-lines-size:5px;
     -fx-grid-lines-visible: true;
     -fx-halignment: center;
     -fx-alignment: CENTER;  
     -fx-background-color: #CDC1B4;
}

.tuile {
    -fx-text-fill: #776E65;
    -fx-font-size: 32;
    -fx-padding: 26 40 26 40;
}

.pane {
    -fx-background-color: #EEE4DA;
    -fx-border-color: black;
}
